# Ignore everything in this directory
*
# Except this file
!.gitignore
!AddThis.php
!audio.php
!bsmSelect-multiple-sort.php
!bsmSelect-multiple.php
!bsmSelect-sortable.php
!bsmSelect.php
!disable-social-checkboxes.php
!fileOption-submit.php
!jCarouselLite-call.php
!jCarouselLite.php
!media.php
!plugins.php
!product.php
!scripts-wordpress.php
!scripts.php
!sitemap.php
!slideshow.php
!tiny_mce.php
!tinymce-textarea.php
!uniform-audio.php
!uniform-file.php
!uniform-select.php
!uniform-video.php
!uniform.php
!video.php