/* General Button Styles (This may be different in your CSS. The styles you already have for buttons should influence the CSS for fwPopUp buttons.) */
[class|=button],
[class|=button]:visited,
[class|=submit],
[class|=submit]:visited {
	float: left;
	height: 23px;
	min-width: 23px;
	background: #fa0; /* for non-css3 browsers */
	background: -webkit-linear-gradient(left, red, #ffb600); /* For Safari 5.1 to 6.0 */
	background: -moz-linear-gradient(right, red, #ffb600); /* for firefox 3.6+ */
	background: linear-gradient(to right, red, #ffb600); /* Standard syntax */
	border-radius: 4px;
	margin: 8px 8px 0 0;
	padding: 0 4px;
	text-align: center;
	line-height: 23px;
	font-size: 10px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}
[class|=button]:hover {
	background: red;
	color: #fff;
}

/* fwPopUp Specific Styles (this is the "default" theme) */
.default .fwpLoading:after,
.fwpHolder.default,
.default .button-close {
	position: absolute;
}
.default .button-close {
	top: -6px;
	right: -6px;
	margin: 0;
}
.default .button-expand,
.default .button-expand:hover,
.default .button-contract,
.default .button-contract:hover {
	background: url(../images/pp-sprite.png) no-repeat;
	cursor: pointer;
}
.default .button-contract:hover {
	background-position: 0 -21px;
}
.default .button-expand {
	background-position: -31px 0;
}
.default .button-expand:hover {
	background-position: -31px -21px;
}
.default .button-expand,
.default .button-contract {
	display: none;
	position: absolute;
	bottom: 10px;
	right: 6px;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	text-indent: -10000px;
	cursor: pointer;
	z-index: 20000;
}
.default .fwpHolder a:focus {
	outline: medium none;
}
.fwpHolder.default {
	display: none;
	height: auto;
	width: auto;
	z-index: 10000;
}
.default .fwpTitle {
	visibility: hidden;
	width: 100%;
	height: auto;
	font-size: 17px;
	z-index: 9999;
	margin: 0 0 5px 15px;
}
.default .fwpContainer {
	position: relative;
	width: 100%;
	height: auto;
}
.default .fwpContent {
	background: rgba(28, 28, 28, .85);
	width: auto;
	min-width: 200px;
	height: auto;
	border: 1px solid #5f5f5f;
	border-radius: 16px;
	padding: 20px;
}
.default .fwpFullRes {
	line-height: 1 !important;
}
.default .fwpFullRes.fwpInline p {
	margin: 0 0 15px;
}
.default .fwpDetails {
	min-width: 200px;
	width: 100%;
	height: auto;
	margin: 10px 0 2px;
}
.default .fwpDescription {
	width: 100%;
	height: auto;
	color: #fff;
	display: none;
	margin: 0 85px 10px 0;
}
.default .fwpSocial {
	height: 22px;
}
.fwpHolder.default  .facebook,
.fwpHolder.default  .twitter {
	display: inline-block;
	vertical-align: top;
	margin-right: 4px;
}
.default .fwpLoading:after {
	content: '';
	display: block;
	top: 50%;
	left: 50%;
	background: url(../images/loading3d.gif);
	width: 24px;
	height: 24px;
	margin: -12px 0 0 48px;
}
.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(../images/semitransparent.dot.png);
	z-index: 9500;
}