# Ignore these file(s)
# Global
*.DS_Store

# Bodega
bodega/**

# Cache
cache/**

# Custom Sessions
custom_sessions/**

# Logs
logs/**

# Public
public/media/audio/files/**
public/media/videos/files/**

# Tmp
tmp/**


# Do not ignore these files
# Root
!.gitignore

# Bodega
!bodega/audio
!bodega/cv
!bodega/premium
!bodega/videos

# Cache
!cache/screenshots