<?php  /* data/API_definitions.php */

# Site API Variables
define('DEFAULT_AUDIO_PLAYLIST', 'Audio');
define('DEFAULT_VIDEO_PLAYLIST', 'Videos');
define('FW_POPUP_HANDLE', 'fwpopup');
define('FW_API_KEY', '');

# AddThis Variables
define('ADDTHIS_ID', '');
define('ADDTHIS_APP_ID', '');

# Amazon Variables
define('AMAZON_ACCESS_KEY', '');
define('AMAZON_ASS_TAG', '');
define('AMAZON_SECRET_KEY', '');

# Bit.ly Variables
define('BITLY_USERNAME', '');
define('BITLY_KEY', '');
define('BITLY_ACCESS_TOKEN', '');
define('BITLY_CLIENT_ID', '');
define('BITLY_CLIENT_SECRET', '');

# Facebook Variables
# Development sites.
if(defined('DOMAIN_NAME') && (DOMAIN_NAME==DEVELOPMENT_DOMAIN))
{
	define('FB_APP_ID', '');
	define('FB_APP_SECRET', '');
}
# Production sites.
else
{
	define('FB_APP_ID', '');
	define('FB_APP_SECRET', '');
}
define('FB_PAGE_ID', '');
# Must be a never expire token.
#	https://www.rocketmarketinginc.com/blog/get-never-expiring-facebook-page-access-token/
define('FB_PAGE_ACCESS_TOKEN', '');

# Google AJAX Search API Key
if(defined('DOMAIN_NAME'))
{
	# Development sites.
	if(DOMAIN_NAME==DEVELOPMENT_DOMAIN)
	{
		define('GOOGLEAPIKEY', '');
	}
	# Production sites.
	elseif(DOMAIN_NAME=='jamtheforce.com')
	{
		define('GOOGLEAPIKEY', '');
	}
}
# end Google AJAX Search API Key

# Google API variables
define('GOOGLE_CLIENT_ID', '');
define('GOOGLE_CLIENT_SECRET', '');
define('GOOGLE_REFRESH_TOKEN', '');

# Google+ Platform API
define('GOOGLE_PLUS_PAGE_ID', '');
define('GOOGLE_PLUS_URL', 'plus.google.com/');
define('GOOGLE_PLUS_PROJECT_ID', '');

# Google APPS
define('GOOGLE_APPS_CALENDAR', 'calendar.jamtheforce.com');
define('GOOGLE_APPS_DRIVE', 'docs.jamtheforce.com');
define('GOOGLE_APPS_MAIL', 'mail.jamtheforce.com');
define('GOOGLE_APPS_SITES', 'sites.jamtheforce.com');
define('GOOGLE_APPS_TALK', 'google.com/talk');

# reCaptcha API keys (see reCaptcha.net)
# Development sites.
if(defined('DOMAIN_NAME')&&(DOMAIN_NAME==DEVELOPMENT_DOMAIN))
{
	define('CAPTCHA_PUBLICKEY', '');
	define('CAPTCHA_PRIVATEKEY', '');
}
# Production sites.
else
{
	define('CAPTCHA_PUBLICKEY', '');
	define('CAPTCHA_PRIVATEKEY', '');
}
# end reCaptcha API keys

# Soundcloud Variables
define('SOUNDCLOUD_AUTH_URL', 'https://soundcloud.com/connect');
define('SOUNDCLOUD_CLIENT_ID', '');
define('SOUNDCLOUD_CLIENT_SECRET', '');
define('SOUNDCLOUD_TOKEN', '');
define('SOUNDCLOUD_TOKEN_URL', 'https://api.soundcloud.com/oauth2/token');
define('SOUNDCLOUD_USER_ID', '');
define('SOUNDCLOUD_USERNAME', '');
define('SOUNDCLOUD_PERMALINK', '');
define('SOUNDCLOUD_URL', '');

# Twitter Variables
define('TWITTER_USERNAME', '');
define('TWITTER_PASSWORD', '');
define('TWITTER_CONSUMER_KEY', '');
define('TWITTER_CONSUMER_SECRET', '');
if(defined('SECURE_URL')) define('TWITTER_CALLBACK', SECURE_URL.'xhr/index.php');
define('TWITTER_TOKEN', '');
define('TWITTER_TOKEN_SECRET', '');
define('TWITTER_URL', '');

# Vimeo Variables
define('VIMEO_CONSUMER_KEY', '');
define('VIMEO_SECRET_KEY', '');
define('VIMEO_URL', '');

# Websnapr Variables
define('WEBSNAPR_DEV_KEY', '');

# YouTube Variables
# Development sites.
if(defined('DOMAIN_NAME')&&(DOMAIN_NAME==DEVELOPMENT_DOMAIN))
{
	define('YOUTUBE_SESSION_TOKEN', '');
}
# Production sites.
else
{
	define('YOUTUBE_SESSION_TOKEN', NULL);
}
define('YOUTUBE_CLIENT_ID', '');
define('YOUTUBE_CLIENT_SECRET', '');
define('YOUTUBE_DEV_KEY', '');
define('YOUTUBE_REFRESH_TOKEN', '');
define('YOUTUBE_USERNAME', '');
define('YOUTUBE_CHANNELID', '');
define('YOUTUBE_USERID', '');
define('YOUTUBE_URL', '');
# end YouTube Variables