# Ignore everything in this directory
*
# Except this file
!.gitignore
!bsmSelect
!clearInput.js
!clearInput.big.js
!customAlert.js
!customAlert.big.js
!fwPupup.js
!fwPupup.big.js
!jCarouselLite.js
!jQuery.js
!jQuery.big.js
!JSForms.js
!JSForms.big.js
!media
!plugins.js
!prettyPhoto.big.js
!products
!sitemap
!tiny_mce
!uniform.js