/****************************/
/***    YouTube Videos    ***/
/****************************/

h3.title {
	margin:6px 0 0 0;
	font:normal 16px/22px "Trebuchet MS", Helvetica, Arial, sans-serif;
	color:#663700;
}

h3#video_title {
	margin:-28px 0 4px 0;
	font:bold 18px/20px "Trebuchet MS", Helvetica, Arial, sans-serif;
}

div.large_video {
	width:351px;
	float:left;
	clear:left;
}

div.small_videos {
	margin:0 0 5px 0;
}

div#video_wrapper {
	height:266px;
	overflow:hidden;
	float:right;
	clear:right;
	margin-right:-6px
}

#video_wrapper img {
	display:block;
	margin-bottom:5px;
	width:113px;
	height:85px
}

div#recent_video {
	font:normal 12px/14px Helvetica, Arial, Verdana, sans-serif;
}

div#recent_video h3 {
	margin:16px 0 2px 0;
	font:bold 14px/16px "Trebuchet MS", Helvetica, Arial, sans-serif;
	color:#552b00
}

div#recent_video h3 a:link, div#recent_video h3 a:visited {
	color:#663700;
	text-decoration:none
}

div#recent_video h3 a:hover, div#recent_video h3 a:active {
	color:#f05033;
	text-decoration:none
}

div#recent_video p {
	color:#404040;
	font:normal 12px/14px Helvetica, Arial, Verdana, sans-serif;
}

div#yt_login {
	position:relative;
	top:-16px;
	left:370px;
}

.note {
	padding: 2px;
	background-color: yellow;
	color: #000;
}

#editForm {
	font-size: small;
}

#searchBox {
	float: right;
}

#authStatus {
	border-bottom: 1px solid #ddd;
	padding: 2px;
	margin-bottom: 10px;

}

#mainSessions {
	background-color: #ddd;
	padding: 10px;
}

#sessionVariable {
	font-family: Courier, monospace;
	background-color: #fff;
	padding: 10px;
	width: 80%;
	overflow: scroll;
}

#imageLoadThumbnail {
	padding: 4px;
	background-color: #333;
}